/* .facts-view {
    overflow-y: scroll;
} */

.facts-view {
    padding: 1rem;
    color: white;
}

.facts-view h2 {
    color: rgba(109, 177, 191);
    margin: 0;
}
.facts-view section > p {
    margin-top: .2rem;
    line-height: 1.3rem;
}