/* .facts-view {
    overflow-y: scroll;
} */

.facts-view {
    background-color: rgba(1, 1, 1, .7);
    /* background-color: rgba(255, 255, 255, .7); */
    padding: 1rem;
    color: white;
    border-radius: 1rem;
}

.facts-view h2 {
    color: orange;
    /* color: brown; */
}