.facts-view {
    padding: 1rem 2.5rem;
    color: white;
}

.facts-view h2 {
    color: rgba(109, 177, 191);
    margin-bottom: .5rem;
}
.facts-view section > p {
    margin-top: .2rem;
    line-height: 1.3rem;
}