.template-view {
    min-height: 100vh;
    min-width: 100vw;
    display: inline-grid;
    grid-template-rows: 15vh 75vh 10vh;   
    background-image: url('../../assets/princessleia-fall-sneakpeek-05.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.template-view main {
    display: flex;
    place-content: center;
    overflow-y: scroll;
    background-color: rgba(18, 17, 19, .7);
    border-radius: .5rem;
}

.template-view main {
    height: 100%;
    width: inherit;
    margin: 0rem 1.5rem;
    padding: .5rem;
}

.template-view-header {
 font-size: 3rem;
 font-weight: 700;
 place-self: center;
 color: rgba(18, 17, 19, .4);
 font-family: 'League Spartan', sans-serif;
    font-weight: 800;
}

.template-view footer {
    place-self: center;
}