.vert-nav {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.vert-nav button {
    margin: .5rem;
    height: 6rem;
    width: 6rem;
    border-radius: .5rem;
    border: dimgray solid 1px;
    background-color: rgba(11, 11, 11, .5);
    color: white;
    font-size: 1rem;
}

.vert-nav button:hover {
cursor: pointer;
border: white 3pt solid
}