.vert-nav {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 1rem;
}

.vert-nav button {
    margin: .5rem;
    height: 12vh;
    width: 12vh;
    border-radius: .5rem;
    border: none;
    background-color: rgba(18, 17, 19, .75);
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.vert-nav button:hover {
cursor: pointer;
border: white 3pt solid
}