

.horizontal-nav button {
font-size: .8rem;
font-weight: bolder;
/* background-color: gray; */
color: white;
padding: .3rem;
/* border: 1px solid dimgray; */
border: none;
background-color: rgba(253, 214, 146, 0);
}

.active button {
    color: rgb(253, 214, 146);
}

.horizontal-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}