.homepage {    
    min-height: 100vh;
    min-width: 100vw;
    display: inline-grid;
    grid-template-rows: 15vh 85vh;    
    grid-template-columns: 50vw 50vw;  
    grid-template-areas: 
    "logo logo" 
    ". nav";
    align-items: end;
    background-image: url('../../assets/IMG_49861.jpg');
    background-size: cover;
  }

  .barkbase-logo {
    grid-column: span 2;
    text-align: center;
    font-size: 3rem;
  }
